/*
    Basic nav background has been set.
    A href's style set.
    Selected, highlighting what page a user is on.
    img, border was rounded. KEY, remember to put . in front of class
*/
body{
    font-family: sans-serif;
    margin:0;
}

/* Nav Bar */

.main-nav {
    background-color: #F5FDFC ;
}

.product_img{
    border: solid 2px #121A19;
    border-radius: 30px;
}

a{
    font-size: 20px;
    color: #06082B;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#selected{
    color:#182BFB
}


/* Introductory section */

#intro{
    background-color:#070A0A ;
    color:white;
}

/* 
    Products -- The max-width and max-height allow for the border to shape around the div used.
    border -- functions as the black line that goes around the div
    border-radius -- dictated size of the border
*/

#products{
    background-color: #E9E6F0;
    border: solid 2px #121A19;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
}