{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- The below is what shows up in the description for search engines (description, robots, and keywords)-->
    <meta name="description" content="{%block description%}{%endblock%}" />
    <meta name="robots" content="{%block robots%}{%endblock%}" />
    <meta name="keywords" content="{%block keywords%}{%endblock%}" />
    <link rel="stylesheet" href="{%block css%}{%endblock%}" />
    <link rel="icon" type="image/x-icon" href="{% static "img/icon/favicon.ico"%}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
